
.toptitle {
    
    background-color:rgb(243, 189, 119);
    height:80px;
    width: 1500px;
}




.toptext{
    position: relative;
    font-size:20px;
    top:10px;
    float:left;
}

.write1{
    background-color: rgb(243, 189, 119);
    border:1px solid;
    width:1000px;
    height: 90px;
    position: relative;
    top:25px;
    left:250px;
    border-radius: 10px;
}

.write2{
    background-color: rgb(243, 189, 119);
    border:1px solid;
    width:1000px;
    height: 90px;
    position: relative;
    top:50px;
    left:250px;
    border-radius: 10px;
}

.write3{
    background-color: rgb(243, 189, 119);
    border:1px solid;
    width:1000px;
    height: 90px;
    position: relative;
    top:75px;
    left:250px;
    border-radius: 10px;
}

.write4{
    background-color: rgb(243, 189, 119);
    border:1px solid;
    width:1000px;
    height: 90px;
    position: relative;
    top:100px;
    left:250px;
    border-radius: 10px;
}

.addition{
    width: 60px;
    height:60px;
    border-radius: 30px;
    background-color:rgb(243, 189, 119);
    position: fixed;
    bottom:120px;
    right:30px;
}



.task-bar{
    height:100px;
    width:1500px;
    background-color:whitesmoke;
    position: fixed;
    bottom: 0px;
    left: 10px;
}

.first{
    width:100px;
    float:left;
    margin-right: 90px;
}

.second{
    width:100px;
    float:left;
    margin-right: 90px;
}

.third{
    width:100px;
    float:left;
    margin-right: 90px;
}
.fourth{
    width:100px;
    float:left;
    margin-right: 90px;
}
.low-bar{
    position: relative;
    top:10px;
    left:450px;
}
a{
    text-decoration: none;
}