<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create The Time For Yourself</title>
    <meta charset='UTF-8'>
<link rel="stylesheet" href="../css/admin.css.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-evaluate.css">
    <link rel="stylesheet" href="../css/style-post.css">
    <link rel="stylesheet" href="../css/amazeui.basic.css">
    <link rel="stylesheet" href="../css/amazeui.basic.min.css">
    <link rel="stylesheet" href="../css/amazeui.css">
    <link rel="stylesheet" href="../css/amazeui.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
<div class="toptitle">
    <div class="create_title"><strong>开始一场时间的旅行吧</strong></div>
</div>
<i class="fa fa-address-book-o" aria-hidden="true"></i>

<!--标签部分内容-->
<div class="Creat_lable">
    <div class="Creat_lable_title" style="margin-left: 20px">标签：</div>
    <div class="Creat_lable1">
        &nbsp;&nbsp;<center><i class="fa fa-handshake-o fa-4x"></i><br>工作</center>
    </div>
    <div class="Creat_lable2">
        &nbsp;&nbsp;<center><i class="fa fa-coffee fa-4x" aria-hidden="true"></i><br>生活</center>
    </div>
    <div class="Creat_lable3">
        &nbsp;&nbsp;<center><i class="fa fa-book fa-4x" aria-hidden="true"></i><br>学习</center>
    </div>
    <div class="Creat_lable4">
        &nbsp;&nbsp;<center><i class="fa fa-gamepad fa-4x" aria-hidden="true"></i><br>娱乐</center>
    </div>
</div>

<!--任务名称-->
<div class="Creat_task">
    <div style="font-family: 微软雅黑;height: 60px;font-size:25px;margin-left: 20px">任务名称：</div>
    <div class="Creat_taskname">
        <form class="am-form">
            <center>
         <input type="text" class="am-form-field" style="width: 50%;margin: auto">
                </center>
</form>
    </div>
</div>
<br>

<!--任务等级-->
<div class="task_level">
    <div style="font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">任务等级：</div>
    <div class="task_level_1">
        &nbsp;&nbsp;<center><i class="fa fa-bicycle fa-4x" aria-hidden="true"></i><br>无</center>
    </div>
    <div class="task_level_2">
        &nbsp;&nbsp;<center><i class="fa fa-taxi fa-4x" aria-hidden="true"></i><br>低</center>
    </div>
    <div class="task_level_3">
        &nbsp;&nbsp;<center><i class="fa fa-plane fa-4x" aria-hidden="true"></i><br>中</center>
    </div>
    <div class="task_level_4">
        &nbsp;&nbsp;<center><i class="fa fa-rocket fa-4x" aria-hidden="true"></i><br>高</center>
    </div>
</div>
<br>


<!--任务日期-->
<div class="Creat_date">
    <span style="font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">日期：</span>
    <input type="date" style="width: 200px;height:40px;">
</div>
<br>


<!--具体时间-->
<div>
    <div style="font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">具体时间：</div>
    <form action="" class="am-form am-form-inline" style="margin-left: 100px;height: 50px">
        <div class="am-form-group am-form-icon">
            <i class="am-icon-calendar"></i>
            <input type="time" class="am-form-field" placeholder="开始时间">
        </div>

        <div class="am-form-group am-form-icon">
            <i class="am-icon-clock-o"></i>
            <input type="time" class="am-form-field" placeholder="结束时间时间">
        </div>
    </form>
</div>

<div class="Creat_reminder" style="margin-top: 50px;font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">
    是否提醒：
    <button type="button" class="am-btn am-btn-primary am-active">YES</button>
    <button type="button" class="am-btn am-btn-default am-active">NO</button>
</div>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="task-bar">

  <div class="low-bar">
    <div class="first">
            &nbsp;&nbsp;<a href="time_controler.html"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i><br>今日任务</a>
    </div>
    <div class="second">
            &nbsp;&nbsp;<a href="time%20controler.html"><i class="fa fa-calendar fa-3x" aria-hidden="true"></i><br>任务日历</a>
    </div>
    <div class="third">
            &nbsp;&nbsp;<a href="time_controler-evaluate.html"><i class="fa fa-sticky-note-o fa-3x" aria-hidden="true"></i><br>每周总结</a>
    </div>
    <div class="fourth">
            &nbsp;&nbsp;<a href="http://127.0.0.1:5000/login"><i class="fa fa-user fa-3x" aria-hidden="true"></i><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我</a>
    </div>

  </div>
</div>


</body>
</html>