<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/admin.css.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-evaluate.css">
    <link rel="stylesheet" href="../css/style-post.css">
    <link rel="stylesheet" href="../css/amazeui.basic.css">
    <link rel="stylesheet" href="../css/amazeui.basic.min.css">
    <link rel="stylesheet" href="../css/amazeui.css">
    <link rel="stylesheet" href="../css/amazeui.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>注册界面</title>
</head>

<body>
<div>

<!--注册页面标题头-->
<div class="toptitle">
    <div class="create_title"><strong>初次见面，多多指教</strong></div>
</div>



    <div style="height: 200px"></div>
<center>
<div class="task-bar">

  <div class="low-bar">
    <div class="first">
            &nbsp;&nbsp;<a href="time_controler.html"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i><br>今日任务</a>
    </div>
    <div class="second">
            &nbsp;&nbsp;<a href="time%20controler.html"><i class="fa fa-calendar fa-3x" aria-hidden="true"></i><br>任务日历</a>
    </div>
    <div class="third">
            &nbsp;&nbsp;<a href="time_controler-evaluate.html"><i class="fa fa-sticky-note-o fa-3x" aria-hidden="true"></i><br>每周总结</a>
    </div>
    <div class="fourth">
            &nbsp;&nbsp;<a href="http://127.0.0.1:5000/login"><i class="fa fa-user fa-3x" aria-hidden="true"></i><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我</a>
    </div>

  </div>
</div>
</center>
</div>
</body>
</html>