<!DOCTYPE html>
<!--标注你所用的html语言版本-->
<html lang = 'zh'>
<head>
<title>给自己的一封信</title>
<!--设置网页的标题-->
<meta charset='UTF-8'>
<link rel="stylesheet" href="../css/admin.css.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-evaluate.css">
    <link rel="stylesheet" href="../css/style-post.css">
    <link rel="stylesheet" href="../css/amazeui.basic.css">
    <link rel="stylesheet" href="../css/amazeui.basic.min.css">
    <link rel="stylesheet" href="../css/amazeui.css">
    <link rel="stylesheet" href="../css/amazeui.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="toptitle">
        <div class="toptext"><center><strong>一封信 </strong></center>
        </div>
    </div>



    <form action="">

    <span style="color:rgb(243, 189, 119);"fort-size:40px>
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>写下想对未来自己说的话吧！<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    <br>
    <br>
    <div class="post">
    <!--img src="../logo素材/fly.jpg" height="50px"width="50px"-->
    <input type="image" src="../logo/fly.jpg" height="50px" width="50px"
           onclick="send()"
           name="img" title="写好了，发送吧！">
    </div>    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <textarea cols="100"rows="60"style="color:black">
        </textarea>
    </form>


<script>
function send(){
if(confirm("你确定发送吗？")){
  alert("恭喜你，你会在未来的某个时候收到自己的信哦")
}
}
</script>




    <div class="task-bar">

  <div class="task-bar">

  <div class="low-bar">
    <div class="first">
            &nbsp;&nbsp;<a href="time_controler.html"><i class="fa fa-tasks fa-3x" aria-hidden="true"></i><br>今日任务</a>
    </div>
    <div class="second">
            &nbsp;&nbsp;<a href="time%20controler.html"><i class="fa fa-calendar fa-3x" aria-hidden="true"></i><br>任务日历</a>
    </div>
    <div class="third">
            &nbsp;&nbsp;<a href="time_controler-evaluate.html"><i class="fa fa-sticky-note-o fa-3x" aria-hidden="true"></i><br>每周总结</a>
    </div>
    <div class="fourth">
            &nbsp;&nbsp;<a href="http://127.0.0.1:5000/login"><i class="fa fa-user fa-3x" aria-hidden="true"></i><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我</a>
    </div>

  </div>
</div>
</div>
</body>
<!--设计你网页的内容-->
</html>