<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Today个人时间管理平台</title>

    <link rel="stylesheet" href="../static/style.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }

        #neko {
            width: 100px;
            height: 100px;
            background: #ddd;
            position: fixed;
            cursor: move;
            box-sizing: border-box;
            border: 10px solid #46aef7;
            border-radius: 50%;
            background: url('620c23bd4d574d43ad14f0ad8c92a288.png') no-repeat center center;
            background-size: 100% 100%;
            overflow: hidden;
        }
    </style>

<meta charset="UTF-8">
<title>Create The Time For Yourself</title>
<meta charset='UTF-8'>
<link rel="stylesheet" href="./css/admin.css.css">
<link rel="stylesheet" href="./static/style.css">
<link rel="stylesheet" href="./static/style-evaluate.css">
<link rel="stylesheet" href="./static/style-post.css">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <nav>
        <div class="menu-btn">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
        </div>

        <div class="nav-links">
            <a href="./index.html" class="link"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Today's Mission</a>
            <a href="./calendar.html" class="link"><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Calendar</a>
            <a href="./evaluate.html" class="link"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Weekly Summary</a>
            <a href="./me.html" class="link"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Others</a>
        </div>
    </nav>

    <div class="inform">
        Today
    </div>
    <div class="frame">

        <div class="center">
            <div class="feiji">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <a href="tomato.html" class="link"><i class="fa fa-history" aria-hidden="true" style="color:#46aef7"></i></a> <!--番茄钟-->
                <a href="" class="link"><i class="fa fa-envelope-o" aria-hidden="true" style="color:#46aef7"></i></a><!--自己的一封信-->
            </div>
            <!--div class="toptitle">
                <div class="create_title"><strong>开始一场时间的旅行吧</strong></div>
            </div>
            <i class="fa fa-address-book-o" aria-hidden="true"></i-->
            
            <!--标签部分内容-->
            <div class="Creat_lable">
                <div class="Creat_lable_title" style="margin-left: 20px">标签：</div>
                <div class="Creat_lable1">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default" name="1"><i class="fa fa-handshake-o fa-4x"></i><br>工作</center>
                </div>
                <div class="Creat_lable2">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default" name="1"><i class="fa fa-coffee fa-4x" aria-hidden="true"></i><br>生活</center>
                </div>
                <div class="Creat_lable3">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default"name="1"><i class="fa fa-book fa-4x" aria-hidden="true"></i><br>学习</center>
                </div>
                <div class="Creat_lable4">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default"name="1"><i class="fa fa-gamepad fa-4x" aria-hidden="true"></i><br>娱乐</center>
                </div>
            </div>
            
            <!--任务名称-->
            <div class="Creat_task">
                <div style="font-family: 微软雅黑;height: 60px;font-size:25px;margin-left: 20px">任务名称：</div>
                <div class="Creat_taskname">
                    <form class="am-form">
                        <center>
                     <input type="text" class="am-form-field" style="width: 50%;margin: auto">
                            </center>
            </form>
                </div>
            </div>
            <br>
            
            <!--任务等级-->
            <div class="task_level">
                <div style="font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">任务等级：</div>
                <div class="task_level_1">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default"name="2"><i class="fa fa-bicycle fa-4x" aria-hidden="true"></i><br>无</button></center>
                </div>
                <div class="task_level_2">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default"name="2"><i class="fa fa-taxi fa-4x" aria-hidden="true"></i><br>低</button></center>
                </div>
                <div class="task_level_3">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default"name="2"><i class="fa fa-plane fa-4x" aria-hidden="true"></i><br>中</button></center>
                </div>
                <div class="task_level_4">
                    &nbsp;&nbsp;<center><input type="radio" class="am-btn am-btn-default"name="2"><i class="fa fa-rocket fa-4x" aria-hidden="true"></i><br>高</button></center>
                </div>
            </div>
            <br>
            
            
            <!--任务日期-->
            <div class="Creat_date">
                <span style="font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">日期：</span>
                <input type="date" style="width: 200px;height:40px;">
            </div>
            <br>
            
            
            <!--具体时间-->
            <div>
                <div style="font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">具体时间：</div>
                <form action="" class="am-form am-form-inline" style="margin-left: 100px;height: 50px">
                    <div class="am-form-group am-form-icon">
                        <i class="am-icon-calendar"></i>
                        <input type="time" class="am-form-field" placeholder="开始时间">
                    </div>
            
                    <div class="am-form-group am-form-icon">
                        <i class="am-icon-clock-o"></i>
                        <input type="time" class="am-form-field" placeholder="结束时间时间">
                    </div>
                </form>
            </div>
            
            <div class="Creat_reminder" style="margin-top: 50px;font-family: 微软雅黑; height: 60px;font-size:25px;margin-left: 20px">
                是否提醒：
                <button type="button" class="am-btn am-btn-primary am-active">YES</button>
                <button type="button" class="am-btn am-btn-default am-active">NO</button>
            </div>
            
            
            
            
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


        </div>
    </div>
    <div id="neko"><img src="620c23bd4d574d43ad14f0ad8c92a288.png" /></div>
    

    <script>var neko = document.querySelector('#neko');
        var nekoW = neko.offsetWidth;
        var nekoH = neko.offsetHeight;
        var cuntW = 0;
        var cuntH = 0;
        neko.style.left = parseInt(Math.random() * (document.body.offsetWidth - nekoW)) + 'px';
        neko.style.top = parseInt(Math.random() * (document.body.offsetHeight - nekoH)) + 'px';

        function move(obj, w, h) {
            if (obj.direction === 'left') {
                obj.style.left = 0 - w + 'px';
            } else if (obj.direction === 'right') {

                obj.style.left = document.body.offsetWidth - nekoW + w + 'px';
            }
            if (obj.direction === 'top') {
                obj.style.top = 0 - h + 'px';
            } else if (obj.direction === 'bottom') {
                obj.style.top = document.body.offsetHeight - nekoH + h + 'px';
            }
        }

        function rate(obj, a) {
            //  console.log(a);
            obj.style.transform = ' rotate(' + a + ')'
        }

        function action(obj) {

            var dir = obj.direction;

            switch (dir) {
                case 'left':
                    rate(obj, '90deg');
                    break;
                case 'right':
                    rate(obj, '-90deg');
                    break;
                case 'top':
                    rate(obj, '-180deg');
                    break;
                default:
                    rate(obj, '-0');
                    break;
            }

        }
        neko.onmousedown = function (e) {
            var nekoL = e.clientX - neko.offsetLeft;
            var nekoT = e.clientY - neko.offsetTop;
            document.onmousemove = function (e) {
                cuntW = 0;
                cuntH = 0;
                neko.direction = '';
                neko.style.transition = '';
                neko.style.left = (e.clientX - nekoL) + 'px';
                neko.style.top = (e.clientY - nekoT) + 'px';
                if (e.clientX - nekoL < 5) {
                    neko.direction = 'left';
                }
                if (e.clientY - nekoT < 5) {
                    neko.direction = 'top';
                }
                if (e.clientX - nekoL > document.body.offsetWidth - nekoW - 5) {
                    neko.direction = 'right';
                }
                if (e.clientY - nekoT > document.body.offsetHeight - nekoH - 5) {
                    neko.direction = 'bottom';
                }

                move(neko, 0, 0);


            }
        }
        neko.onmouseover = function () {
            move(this, 0, 0);
            rate(this, 0)
        }

        neko.onmouseout = function () {
            move(this, nekoW / 2, nekoH / 2);
            action(this);
        }

        neko.onmouseup = function () {
            document.onmousemove = null;
            this.style.transition = '.5s';
            move(this, nekoW / 2, nekoH / 2);
            action(this);
        }

        window.onresize = function () {
            var bodyH = document.body.offsetHeight;
            var nekoT = neko.offsetTop;
            var bodyW = document.body.offsetWidth;
            var nekoL = neko.offsetLeft;

            if (nekoT + nekoH > bodyH) {
                neko.style.top = bodyH - nekoH + 'px';
                cuntH++;
            }
            if (bodyH > nekoT && cuntH > 0) {
                neko.style.top = bodyH - nekoH + 'px';
            }
            if (nekoL + nekoW > bodyW) {
                neko.style.left = bodyW - nekoW + 'px';
                cuntW++;
            }
            if (bodyW > nekoL && cuntW > 0) {
                neko.style.left = bodyW - nekoW + 'px';
            }

            move(neko, nekoW / 2, nekoH / 2);
        }</script>
    <script src="../static/index.js"></script>


</body>
</html>