<!--暂时与注册界面使用一样的样式-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/amazeui.basic.css">
    <link rel="stylesheet" href="css/amazeui.basic.min.css">
    <link rel="stylesheet" href="css/amazeui.css">
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/amazeui.widgets.css">
    <link rel="stylesheet" href="css/amazeui.widgets.min.css">
    <link rel="stylesheet" href="css/app.css">
    <title>登录界面</title>
</head>

<body>
<!--注册页面标题头-->
<div class="toptitle">
    <div class="create_title"><strong>初次见面，多多指教</strong></div>
</div>



    <div style="height: 200px"></div>

<div class="am-g" style="margin-left: 300px">
  <form class="am-form am-form-horizontal">
  <div class="am-form-group">
    <label for="doc-ipt-3" class="col-sm-2 am-form-label">账号</label>
    <div class="col-sm-10">
      <input type="text" id="doc-ipt-3" placeholder="你的名字" style="width: 500px">
    </div>
  </div>

  <div class="am-form-group">
    <label for="doc-ipt-pwd-2" class="col-sm-2 am-form-label">密码</label>
    <div class="col-sm-10">
      <input type="password" id="doc-ipt-pwd-2" placeholder="你的密码" style="width: 500px">
    </div>
  </div>

  <div class="am-form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> 记住这个秘密
        </label>
      </div>
    </div>
  </div>

  <div class="am-form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="am-btn am-btn-default">欢迎回家</button>
      <a href="{{ url_for('Rigistration') }}">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          <button type="button" class="am-btn am-btn-default am-round">我是新来的</button>
      </a>
    </div>
  </div>


</form>
</div>
</body>
</html>